*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*::selection{
    color: white;
    background: black;
}

html,body{
    width: 100vw;
    height: 100vh;
    background: url(./Images/world.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.preloader{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #000;
    z-index: 100;
    background: url(./Images/preloader.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timedisplay{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.timenow{
    display: flex;
    align-items: center;
    /* border: 1px solid #fff; */
    display: flex;
    /* gap: 50px; */
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);   
}

.day{
    /* font-size: 60px; */
    margin-left: 60px;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

.main{
    /* border: 1px solid #fff; */
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



input{
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    width: 20vw;
    height: 5vh;
    padding-left: 20px;
    color: #000;
    outline: none;
}

.error{
    display: none;
}

.subBtn{
    border: none;
    background-color: royalblue;
    /* color: #000; */
    width: 7vw;
    height: 4vh;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
    font-weight: bold;
}

.subBtn:hover{
   background-color: transparent;
   border: 1px solid royalblue;
   color: #fff;
   transition: all ease 0.5s;
}

.cityName{
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    /* gap: 20px; */
    height: 10vh;
}

.cityName{
    display: none;
}

.degcel{
    font-size: 15px;
    margin-bottom: 20px;
}

.name{
    font-size: 20px;
}

.temp{
    font-size: 50px;
    margin-left: 30px;
}

.data{
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-left: -200px; */
}

.humid{
    display: flex;
    gap: 10px;
}

.humid{
    display: none;
}

.humid h1{
    font-size: 20px;
}

.wind h1{
    font-size: 20px;
}


.wind{
    display: flex;
    gap: 10px;
}

.wind{
    display: none;
}   

iframe{
    display: none;
}

/* footer{
    display: flex; 
    justify-content: center;
    font-size: 10px;
    margin-top: 150px;
} */

/* footer h1{
     -webkit-text-stroke: 1px black; 
    color: royalblue;
} */

@media only screen and (max-width: 600px){

    html,body{
        width: 100vw;
        height: 100vh;
        background: url(./Images/world.gif);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .preloader{
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: #000;
        z-index: 100;
        background: url(./Images/preloader.gif);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    
    .timenow{
        display: flex;
        align-items: center;
        /* border: 1px solid #fff; */
        display: flex;
        /* flex-direction: column; */
        /* gap: 50px; */
        text-shadow: 3px 4px 7px rgba(81,67,21,0.8);   
    }

    .main{
        /* border: 1px solid #fff; */
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.5);
        width:65vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        gap: 60px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    input{
        border: none;
        border-radius: 20px;
        margin-top: 15px;
        width: 30vw;
        height: 5vh;
        padding-left: 20px;
        color: #000;
        outline: none;
    }

    .subBtn{
        border: none;
        background-color: royalblue;
        /* color: #000; */
        width: 13vw;
        height: 5vh;
        border-radius: 10px;
        margin-left: 20px;
        cursor: pointer;
        font-weight: bold;
    }

    .enterloc{
        width: 300px;
    }

}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {

    html,body{
        width: 100vw;
        height: 100vh;
        background: url(./Images/world.gif);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .preloader{
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: #000;
        z-index: 100;
        background: url(./Images/preloader.gif);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    
    .timenow{
        display: flex;
        align-items: center;
        /* border: 1px solid #fff; */
        display: flex;
        /* flex-direction: column; */
        /* gap: 50px; */
        text-shadow: 3px 4px 7px rgba(81,67,21,0.8);   
    }

    .main{
        /* border: 1px solid #fff; */
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.5);
        width:50vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        gap: 60px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    input{
        border: none;
        border-radius: 20px;
        margin-top: 15px;
        width: 20vw;
        height: 5vh;
        padding-left: 20px;
        color: #000;
        outline: none;
    }

    .subBtn{
        border: none;
        background-color: royalblue;
        /* color: #000; */
        width: 10vw;
        height: 5vh;
        border-radius: 10px;
        margin-left: 20px;
        cursor: pointer;
        font-weight: bold;
    }

    .enterloc{
        width: 360px;
        font-size: 12px;
    }

}

@media only screen and (min-width: 800px) and (max-width: 1000px) {

    html,body{
        width: 100vw;
        height: 100vh;
        background: url(./Images/world.gif);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .preloader{
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: #000;
        z-index: 100;
        background: url(./Images/preloader.gif);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    
    .timenow{
        display: flex;
        align-items: center;
        /* border: 1px solid #fff; */
        display: flex;
        /* flex-direction: column; */
        /* gap: 50px; */
        text-shadow: 3px 4px 7px rgba(81,67,21,0.8);   
    }

    .main{
        /* border: 1px solid #fff; */
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.5);
        width:50vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        gap: 60px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    input{
        border: none;
        border-radius: 20px;
        margin-top: 15px;
        width: 20vw;
        height: 5vh;
        padding-left: 20px;
        color: #000;
        outline: none;
    }

    .subBtn{
        border: none;
        background-color: royalblue;
        /* color: #000; */
        width: 10vw;
        height: 5vh;
        border-radius: 10px;
        margin-left: 20px;
        cursor: pointer;
        font-weight: bold;
    }

    .enterloc{
        width: 360px;
        font-size: 12px;
    }

}

@media only screen and (min-width: 600px) and (max-width: 800px) {

    html,body{
        width: 100vw;
        height: 100vh;
        background: url(./Images/world.gif);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .preloader{
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: #000;
        z-index: 100;
        background: url(./Images/preloader.gif);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    
    .timenow{
        display: flex;
        align-items: center;
        /* border: 1px solid #fff; */
        display: flex;
        /* flex-direction: column; */
        /* gap: 50px; */
        text-shadow: 3px 4px 7px rgba(81,67,21,0.8);   
    }

    .main{
        /* border: 1px solid #fff; */
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.5);
        width:50vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        gap: 60px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    input{
        border: none;
        border-radius: 20px;
        margin-top: 15px;
        width: 30vw;
        height: 5vh;
        padding-left: 20px;
        color: #000;
        outline: none;
    }

    .subBtn{
        border: none;
        background-color: royalblue;
        /* color: #000; */
        width: 13vw;
        height: 5vh;
        border-radius: 10px;
        margin-left: 20px;
        cursor: pointer;
        font-weight: bold;
    }

    .enterloc{
        width: 300px;
    }

}

@media only screen and (min-width: 400px) and (max-width: 600px){
    html,body{
        width: 100vw;
        height: 100vh;
        background: url(./Images/world.gif);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .preloader{
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: #000;
        z-index: 100;
        background: url(./Images/preloader.gif);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    
    .timenow{
        display: flex;
        align-items: center;
        /* border: 1px solid #fff; */
        display: flex;
        /* flex-direction: column; */
        /* gap: 50px; */
        text-shadow: 3px 4px 7px rgba(81,67,21,0.8);   
    }

    .main{
        /* border: 1px solid #fff; */
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.5);
        width:90vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    input{
        border: none;
        border-radius: 20px;
        width: 40vw;
        height: 5vh;
        padding-left: 20px;
        color: #000;
        outline: none;
    }

    .subBtn{
        border: none;
        background-color: royalblue;
        /* color: #000; */
        width: 20vw;
        height: 5vh;
        border-radius: 10px;
        margin-left: 20px;
        cursor: pointer;
        font-weight: bold;
    }

    .enterloc{
        width: 300px;
        font-size: 10px;
    }
}


@media only screen and (min-width: 250px) and (max-width: 400px){
    html,body{
        width: 100vw;
        height: 100vh;
        background: url(./Images/world.gif);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .preloader{
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: #000;
        z-index: 100;
        background: url(./Images/preloader.gif);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    
    .timenow{
        display: flex;
        align-items: center;
        /* border: 1px solid #fff; */
        display: flex;
        /* flex-direction: column; */
        /* gap: 50px; */
        text-shadow: 3px 4px 7px rgba(81,67,21,0.8); 
        margin-left: 100px;  
    }

    .main{
        /* border: 1px solid #fff; */
        border-radius: 20px;
        background-color: rgba(128, 128, 128, 0.5);
        width:90vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .inp{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        /* margin-top: 20px; */
    }

    input{
        border: none;
        border-radius: 20px;
        width: 50vw;
        height: 5vh;
        padding-left: 20px;
        color: #000;
        outline: none;
    }

    .subBtn{
        border: none;
        background-color: royalblue;
        /* color: #000; */
        width: 25vw;
        height: 5vh;
        border-radius: 10px;
        margin-left: 8px;
        cursor: pointer;
        font-weight: bold;
    }

    .enterloc{
        width: 220px;
        font-size: 7px;
        text-align: center;
    }

    .day{
        display: none;
    }

    .cityName{
        margin-top: -40px;
    }

    .humid{
        margin-top: -50px;
        margin-left: 30px;
    } 

    .wind{
        margin-left: 30px;
    }
}


